.grid {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
}

.h1Titulo.dark {
    color: white;
}

.botaoReset {
    padding: 10px 40px;
    font-size: 1.3rem;
    cursor: pointer;
}

.botaoReset.dark {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}