.grid {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
}

@media (max-width: 788px) {
    .grid {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 160px);
    }
    .main-table > h1 {
        font-size: 2rem;
    }
}

@media (max-width: 676px) {
    .grid {
        grid-template-columns: repeat(3, 130px);
        grid-template-rows: repeat(3, 115px);
    }
    .square-button {
        font-size: 2rem;
    }
}

@media (max-width: 441px) {
    .grid {
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(3, 80px);
    }
    .main-table > h1, .square-button {
        font-size: 1.5rem;
    }
}

.h1Titulo.dark {
    color: white;
}

.botaoReset {
    padding: 10px 40px;
    font-size: 1.3rem;
    cursor: pointer;
}

.botaoReset.dark {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}